.itemRow {
    padding-left: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: #e5e5e5;
    border: 0px;
    border-bottom: 5px solid #eaeaea;
}

.itemImage {
    width: 4.75rem;
    height: 4.75rem;

    margin: 1rem;

    background: #303133;
    transition: all 0.5s;
}

.itemImageSelected {
    filter: brightness(50%);
}

.itemCenterImage {
    display: block;
    width: 4.75rem;
    height: 4.75rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2,2);
    animation: fade 1s linear;
    animation-fill-mode:forwards;

    background: #303133;
}

@keyframes fade {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.itemText {
    padding-left: 1rem;

    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;

    color: #303133;
    transition: all 0.5s;
}

.itemTextSelected {
    color: #06a9f6;
}
