.paginator {
    height: 2rem;
    padding-right: 1rem;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.number {
    margin-left: 0.4rem;

    font-family: "Helvetica";
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 400;

    line-height: 1rem;
    text-decoration: none;
}

/* unvisited link */
.number:link,
.number:visited {
    color: blue;
}

/* mouse over link */
.number:hover {
    color: blue;
}

/* selected link */
.number:active {
    color: blue;
}

.inactive {
    margin-left: 0.4rem;

    font-family: "Helvetica";
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 400;

    line-height: 1rem;

    color: #303133;
}

.button {
    margin-left: 0.4rem;

    font-family: "Helvetica";

    color: #797c80;
    background: #ffffff;
    border: 1px solid #d6d8da;
    border-radius: 3px;
}

.button:disabled {
    color: #d6d8da;
}
